doctype html
html(lang="en")
  head
    title Home
    link(rel='stylesheet', href='style.styl')  
  body
    h1 Pug - node template engine
    
    #container.col
      p You are #[strong amazing] and #[em also very] cool!
      
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
