extends /base.pug

block title 
  | Koa Quickstart
  
block extrahead
  link(rel='stylesheet' href='style.styl')

block content
  h1 Koa Quickstart

  p 
    a(href='about/') About this site
    
  p You are #[strong amazing] and #[em also very] cool!
  
  p.
    Pug is a terse and simple templating language with a
    strong focus on performance and powerful features.

  :markdown-it
    ## Markdown!
    
    Can you dig it? This **section** was written using [Markdown](https://en.wikipedia.org/wiki/Markdown). *Woohoo to the max!*
